<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Expires" content="30">
  <title>Web Static Starter</title>
  <link href="/dist/styles.min.css" rel="stylesheet">
</head>

<body class="no-js">
  <script>document.body.className = '';</script>
  {{> components/Header}}
  {{> components/MobileNav}}
  {{> pages/Home}}
  {{> components/Footer}}
  <script src="/dist/bundle.min.js"></script>
</body>

</html>