<div class="content" data-off-canvas-content>
    <style>
        .home-title {
            background: black;
            color: white;
            min-height: 90vh;
            margin: 0;
        }

        .home-title__segment {
            display: block;
            margin: 0;
            line-height: 0.8em;
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 700;
        }

        .home-subtitle {
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 0.5em;
            color: gray;
        }
    </style>
    <div class="grid-x align-center-middle" style="background: white;">
        <div class="cell small-12 medium-6 text-center align-middle align-center">
            <img src="img/lightbulb_animated.svg"></div>
        <div class="cell small-12 medium-6 ">
            <DIV Class=" home-title grid-y grid-padding-y align-left align-center">
                <div class="cell">
                    <h1 class=" grid-y grid-padding-y align-left align-center">
                        <span class="home-title__segment" style="margin-left: -10px;">Static</span>
                        <span class="home-title__segment" style="margin-left: -3px;">Web</span>
                        <span class="home-title__segment" style="margin-left: -10px;">Starter</span>
                    </h1>
                </div>
                <p class="home-subtitle">Now with templating</p>
            </DIV>
        </div>
    </div>
    {{> components/Slider theSlides=homeContent.slides}} {{> components/CallToAction cta=homeContent.callToAction}}
    {{> components/Quote quoteInfo=homeContent.quoteInfo}}
    {{> components/SimpleParallax title=homeContent.parallaxTitle image=homeContent.parallaxImage }}
    {{> components/Gallery gallerySet=homeContent.galleryImages}}
</div>