<div class="content" data-off-canvas-content>
    {{> components/FullHeightRight content=homeContent.fullHeightRight}}
    {{> components/Slider theSlides=homeContent.slides}}
    {{> components/CallToAction cta=homeContent.callToAction}}
    {{> components/Quote quoteInfo=homeContent.quoteInfo}}
    {{> components/SimpleParallax title=homeContent.parallaxTitle image=homeContent.parallaxImage }}
    {{> components/Gallery gallerySet=homeContent.galleryImages}}
</div>