<section id="home-section" class="grid-x grid-padding-x align-center-middle text-left">
    <div class="cell small-10 medium-8 large-5 container">
        <div>
            <h3 class="title">{{cta.title}}</h3>
            <p class="subtext">{{cta.text}}</p>
        </div>
    </div>
    <div class="cell small-10 medium-4 large-2 large-offset-1 container">
        <div>
            <a href={{cta.buttonLink}} class="button">{{cta.buttonText}}</a>
        </div>
    </div>
</section>