<footer>
    <div id="footer" class="grid-x grid-padding-x align-center-middle footer text-center">
        <div class="cell small-10 large-6">
            <h3>Footer</h3>
        </div>
    </div>
</footer>