.social-footer .social-icons-holder {
  margin: 0 15px;
  text-align: center;
}
.social-footer .social-logo {
  color: white;
  font-size: 2em;
  margin: 0 0 0 1rem;
  &:hover {
    color: gray;
  }
}
