#header-main {
  z-index: 20;
}
.menu-title {
  color: white;
}

.social-header {
  background: black;
  display: none;
  @media (min-width: '768px') {
    display: block;
  }
}
.social-header .social-icons-holder {
  margin: 0 15px;
  text-align: right;
}
.social-header .social-logo {
  color: white;
  font-size: 2em;
  margin: 0 0 0 1rem;
  &:hover {
    color: gray;
  }
}

/* FOUNDATION FIXES */
.drilldown a {
  background: black;
}
.drilldown .is-drilldown-submenu.is-active {
  background: black;
}
