<div class="off-canvas position-left menu mobile" id="offCanvas" data-off-canvas>
    <nav class="">
        <ul id="mobile-menu" class="vertical dropdown menu" data-dropdown-menu>
            {{#each links}}
            {{>partials/MobileLink link=.}}
            {{/each}}
        </ul>
    </nav>

    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>