{{!-- <nav data-topbar class="site-nav top-bar cell align-right" role="navigation">
    <section class="top-bar-section">
        <ul class="dropdown menu align-right" data-dropdown-menu>
            {{#each links}}
            {{>partials/Link link=.}}
            {{/each}}
        </ul>
    </section>
</nav> --}}

<ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
    {{#each links}}
    {{>partials/Link link=.}}
    {{/each}}
</ul>