<section id="text-only" class="grid-x grid-padding-x align-center-middle text-center">
    <div class="cell small-10 medium-8 large-5 container">
        <p class="quote">{{quoteInfo.quoteText}}<span class="quote-author">~
                {{quoteInfo.quoteBy}}</span>
        </p>
    </div>
</section>