<style>
    .main-background-image {
        padding: 200px 0;
        background: url({{image}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>

<section id="parallax-content" class="grid-x grid-padding-x fluid align-center-middle text-left">
    <div class="main-background-image cell small-12 medium-12 large-12 container">
        <div class="grid-x align-center-middle">
            <div class="cell small-10 medium-8 large-6 container">
                <h2>{{title}}</h2>
            </div>
        </div>
    </div>
</section>