{{#if (hasChildren link)}}<li class="has-submenu">{{else}}
<li class="">{{/if}}
    <a class="menu-title" href="{{link.url}}">{{link.title}}</a>
    {{#if link.children}}
    <ul class="submenu menu vertical" data-submenu>
        {{#each link.children}}
        {{>partials/Link link=.}}
        {{/each}}
    </ul>
    {{/if}}
</li>