<li class="">
    <a href="{{link.url}}">{{link.title}}</a>
    {{#if link.children}}
    <ul class="menu">
        {{#each link.children}}
        {{>partials/MobileLink link=.}}
        {{/each}}
    </ul>
    {{/if}}
</li>