<div class="slide-item">
    <div class="grid-x slide-grid grid-padding-x fluid align-center-middle text-center">
        <div class="cell small-10 medium-8 large-6 container">
            <h1 class="slide-title">{{slide.title}}</h1>
        </div>
    </div>
    <img class="slide-background" src="{{slide.backgroundImage}}" alt="{{slide.alt}}" />
</div>